<h1>Forum#index</h1>
<% if !current_user.nil? %>
    <p><%= link_to "New topic", new_forum_topic_path(@forum) %></p>
<% end %>
<% @forum.topics.each do |topic| %>
<p><%= link_to topic.titre, topic %> <%= topic.messages.count %> </p>
<% end %>