<h1>Topic#show</h1>
<p><%= link_to "New", new_topic_message_path(@topic) %></p>
<% @topic.messages.each do |message| %>
    <p><%= message.contenu %> <%= button_to "Delete", message, method: :delete  %></p>
<% end %>